body {
      font-family: 'Bebas Neue',cursive
}

.navlist {
      width: 100%;
      padding : 5px 10vw;
}

.navlist ul {
      display: flex;
      list-style: none;
}

.navlist ul a {
      margin-left: 70px;
      text-decoration: none;
      padding: 7px 30px;
      color: black;
      border-radius: 5px;
}

span {
      color: orange;
}

.link {
text-decoration: none;
background-image:linear-gradient(tomato,orange)


}
.first-section{
display: flex;
}
.half-width{
width:50% ;
}
.first-section img {
 width: 100%;
}
.secound-section{
display: flex;
background-image: url(images/7.png);
}
.secound-section img{
width: 100%;
}

.third-section{
text-align: center;
}
.b{
color: grey;
text-align: center;
}
h1{
font-size: 50px;
}
p{
font-size: 20px;
}
.forth-section{
display: flex

}
.forth-section img{
width: 100%;
}
.width{
width: 30%;
padding: 2%;
text-align: justify;
box-shadow: 4px 7px 10px  gray;
margin-left:40px ;
border-radius: 30px;
margin-bottom: 5%;
}
.social-media{
      box-shadow: 5px  10px  15px gray;
      display: flex;
      margin-bottom: 150px;
      width: 70%;
      border-radius: 30px;
      margin-left: 15%;
}
.followers{
      width: 30%;
      padding: 10px     20px;
}
.last{
display: flex;
width: 80%;
border: 5px solid black;
background-color:black ;
border-radius: 30px; 
margin-left: 10% ;
text-align: center ;

}
.black{
color: white;
padding: 10px 20px ;
}
.h1{
text-align: center;
}
.last-section{
display: flex;
width: 30%;
border:8px solid  grey ;
background-color: black;
margin-left: 35%;
margin-bottom: 150px;
}
.icon img{
width: 40%;
}