body{
      font-family: 'Poppins', sans-serif;
}
span{
color:orange ;
}
.first-section{
background-image: url(images/top-banner.png);
display: flex;
background-repeat: no-repeat;
}
.half-width{
width: 5000px;
padding-left: 7%;
}
.half-width img{
width:90%
}
.half-width-img{
width: 63%;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(tomato,orange);
padding: 7px 30px;
color: white;
border-radius: 5px;
}
.Secound-section{
      display: flex;
      background-image: url(images/dream-bg.png); 
      background-repeat: no-repeat;
      background-position: right;   
}
h1{
font-size:25px;;
}
.experiences{
margin-bottom: 50px;
}
.last-section{
display: flex;
margin-bottom:100px;
background-image:url(images/exp-bg.png) ;
background-repeat:no-repeat ;
background-position: left;
}
.width{
width:2000px ;
padding:5% ;
text-align: justify;
box-shadow:5px 10px 10px grey ;
margin-left:100px ;
border-radius:10px ;
}
#baby{
border-left:7px solid orange ;
}
#full{
border-left:7px solid blue ;
}
footer{
text-align: center;
color: grey;
}

